<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Authentication</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylesheet.css') }}">
</head>
<body>
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <div class="logo"></div>
  <div class="login-block">
      <h1>Login</h1>
      {% if status %}
      <p style="color:#FF0000; padding: 1em; margin-bottom: 1em;">
      {{status}}
      </p>
      {% endif %}
      <form action="/login" method="POST">
        <input type="text" name="username" placeholder="" id="username" />
        <input type="password" name="password" placeholder="" id="password" />
        <button>Submit</button>
      </form>
  </div>
</body>
</html>
