<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{UUID}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/container.css') }}">

</head>
<body>
	<div class="container">
		<table>
			<thead>
				<tr>
					<th>Param</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Printer Status</td>
					<td><div id="printerstatus">UNKNOWN<br/></div></td>
				</tr>
				<tr>
					<td>Print Count</td>
					<td><div id="printercount">UNKNOWN<br/></td>
				</tr>
				<tr>
					<td>Mem usage</td>
					<td><div id="mempercent">UNKNOWN<br/></td>
				</tr>
				<tr>
					<td>CPU percent</td>
					<td><div id="cpupercent">UNKNOWN<br/></td>
				</tr>
				<tr>
					<td>CPU temperature</td>
					<td><div id="cputemp">UNKNOWN<br/></td>
				</tr>
				<tr>
					<td>Internal Error</td>
					<td><div id="internalerror">UNKNOWN<br/></td>
				</tr>
				<tr>
					<td>Last Log</td>
					<td><div id="lastlog">UNKNOWN<br/></td>
				</tr>
			</tbody>
		</table>
	</div>

<script>
  var counter = 0;
  var source = new EventSource("{{ url_for('sse.stream') }}");
  source.addEventListener('logentry', function(event) {
      var row = document.getElementById("logtable").insertRow(0);
      var cell0 = row.insertCell(0);
      var cell1 = row.insertCell(1);
      cell0.innerHTML = counter.toString();
      cell1.innerHTML = JSON.parse(event.data).message;
      counter++;
  }, false);
  source.addEventListener('printerstatus', function(event) {
    var message = JSON.parse(event.data).message;
    var elem = document.getElementById('printerstatus');
    elem.innerHTML = message;
  }, false);
	source.addEventListener('printercount', function(event) {
    var message = JSON.parse(event.data).message;
    var elem = document.getElementById("printercount");
    elem.innerHTML = message;
  }, false);
	source.addEventListener('cpupercent', function(event) {
    var message = JSON.parse(event.data).message;
    var elem = document.getElementById("cpupercent");
    elem.innerHTML = message;
  }, false);
	source.addEventListener('mempercent', function(event) {
    var message = JSON.parse(event.data).message;
    var elem = document.getElementById("mempercent");
    elem.innerHTML = message;
  }, false);
	source.addEventListener('internalerror', function(event) {
    var message = JSON.parse(event.data).message;
    var elem = document.getElementById("internalerror");
    elem.innerHTML = message;
  }, false);
	source.addEventListener('cputemp', function(event) {
    var message = JSON.parse(event.data).message;
    var elem = document.getElementById("cputemp");
    elem.innerHTML = message;
  }, false);
	source.addEventListener('lastlog', function(event) {
    var message = JSON.parse(event.data).message;
    var elem = document.getElementById("lastlog");
    elem.innerHTML = message;
  }, false);
</script>


</body>
</html>
